@page "/"

<PageTitle>Home</PageTitle>

<p>This is a Blazor app playground</p>
<p>Implemented services</p>
<ul>
    <li>
        <NavLink class="nav-link" href="shorten">
            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Url Shortener
        </NavLink>
    </li>
</ul>
